{%- style -%}
  .footer-minimal {
    padding: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px 3rem;
    background-color: rgb(var(--color-background));
  }

  @media screen and (min-width: 750px) {
    .footer-minimal {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{{ 'section-footer-minimal.css' | asset_url | stylesheet_tag }}

<footer class="footer-minimal color-{{ section.settings.color_scheme }} gradient">
  <div class="footer-minimal__content page-width">
    <div class="footer-minimal__header">
      <div class="footer-minimal__header-content">
        {% if section.settings.heading != blank %}
          <h2 class="footer-minimal__heading">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.copyright_text != blank %}
          <p class="footer-minimal__copyright">{{ section.settings.copyright_text }}</p>
        {% endif %}
      </div>
      
      <div class="footer-minimal__menus">
        {%- if section.settings.menu != blank -%}
          <ul class="footer-minimal__menu list-unstyled">
            {%- for link in section.settings.menu.links -%}
              <li>
                <a href="{{ link.url }}" class="link">{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

        {%- if section.settings.menu_2 != blank -%}
          <ul class="footer-minimal__menu list-unstyled">
            {%- for link in section.settings.menu_2.links -%}
              <li>
                <a href="{{ link.url }}" class="link">{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>

    {% if section.settings.show_logo %}
      <div class="footer-minimal__logo">
        {{ section.settings.custom_logo_svg }}
      </div>
    {% endif %}
  </div>
</footer>

{% schema %}
{
  "name": "Minimal Footer",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Let's make this happen."
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "Subtext",
      "default": "<p>info@odein.io<br>linkedin.com/company/odein</p>"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Secondary Menu",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_logo",
      "label": "Show Logo",
      "default": true
    },
    {
      "type": "html",
      "id": "custom_logo_svg",
      "label": "Custom Logo SVG"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default": "©2025 themelab. All rights reserved."
    }
  ],
  "presets": [
    {
      "name": "Minimal Footer"
    }
  ]
}
{% endschema %} 